html{
    min-height: 100%;
    overflow: hidden;
}

body{
    height: calc(100vh - 8em);
    font-family: 'Anonymous Pro', monospace;  
    background-color: #0a192f;  
}

#container {
    overflow: hidden;
    width: 100%;
  }

#left {
    float: left;
    width: 30%;
    background-color:#0a192f; 
    padding-bottom: 500em;
    margin-bottom: -500em;
  }
  
#right {
    float: left;
    width: 70%;
    background-color: #0a192f;
  }

#h1text1 {
    text-align: center;
    margin-top: 30px;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

#h3text1 {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

nav {
    color: white;
    font-family: 'Source Code Pro', monospace;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #1569C7;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

#HW {
    text-align: center;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

#heading {
    text-align: center;
    color: black;
    font-family: 'Source Code Pro', monospace;
}

#aboutme {
    border-radius: 5px;
    width:750px;
    margin: 0 auto;
    padding-top:15px;
    font-size:30px;
    background: #ccc;
    height: 550px;
    font-family: 'Monaco', 'Courier New';
    font-size:15px;
    color: #fafafa;
}
    
#aboutme1 {
    width:670px;
    padding: 40px;
    height: 620px;
    margin:0 auto;
    background: #383737;
}
    
#output {
    color:#ccc;
}